body {
  color: #50413c;
  font-family: 'Merriweather';
  font-size: 16px;
  font-weight: 500;
  background: #f6f1ed;
  padding-left: 3%;
  padding-right: 3%;
}

ul {
  padding-left: 12px;
}

li {
  list-style: none;
  line-height: 1.8;
}

label {
  cursor: pointer;
}

input[type=checkbox] {
  transform: scale(1.5);
}

h1 {
  color: #30231d;
  font-family: 'Merriweather Sans';
  letter-spacing: -2px;
  font-size: 38px;
  margin-bottom: 48px;
}

p {
  font-size: 1.2em;
}

sub {
  margin-top: 40px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 66px;
    margin-bottom: 72px;
    letter-spacing: -4px;
    text-align: center;
  }
  ul {
    padding-left: 40px;
  }
  .grid {
    padding-left: 20%;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(auto, 200px) 1fr;
    align-items: center;
  }

}
