/* http://typespiration.com/design/faded-sunset/ */

body {
  color: #50413c;
  font-family: 'Merriweather';
  font-size: 16px;
  font-weight: 500;
  background: #f6f1ed;
  padding-left: 3%;
  padding-right: 3%;
}

ul {
  padding-left: 12px;
}

li {
  list-style: none;
  line-height: 1.8;
}

label {
  cursor: pointer;
}

input[type=checkbox] {
  transform: scale(1.5);
}

h1, h2, h3 {
  color: #30231d;
  font-family: 'Merriweather Sans';
}

h1 {
  letter-spacing: -2px;
  font-size: 38px;
  margin-bottom: 48px;
}

h1:after {
	background: #30231d;
	content: '';
	display: block;
	height: 12px;
	margin: 43px 0;
	width: 100%;
}

.red {
  color: #cc3914;
}

a {
	color: #cc3914;
}

a:hover {
	color: #50413c;
}

sub {
  margin-top: 40px;
  grid-column: 2;
}

h3 .fas,
h3 .far {
    /* font-size: 2em;
    display: block; */
}

@media (min-width: 800px) {
  h1 {
    font-size: 66px;
    /* margin-bottom: 72px; */
    letter-spacing: -4px;
    text-align: center;
  }
  ul {
    padding-left: 40px;
  }
  .spisak {
    padding-left: 20%;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(auto, 200px) 1fr;
    align-items: center;
  }

}
